@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

:root {
    --color-background: 0 0 100%;
    --color-foreground: 222.2 47.4% 11.2%;
    --color-muted: 210 40% 96.1%;
    --color-muted-foreground: 215.4 16.3% 46.9%;
    --color-card: 0 0 100%;
    --color-card-foreground: 222.2 47.4% 11.2%;
    --color-popover: 0 0 100%;
    --color-popover-foreground: 222.2 47.4% 11.2%;
    --color-border: 214.3 31.8% 91.4%;
    --color-input: 214.3 31.8% 91.4%;
    --color-primary: 222.2 47.4% 11.2%;
    --color-primary-foreground: 210 40% 98%;
    --color-secondary: 210 40% 96.1%;
    --color-secondary-foreground: 222.2 47.4% 11.2%;
    --color-accent: 210 40% 96.1%;
    --color-accent-foreground: 222.2 47.4% 11.2%;
    --color-destructive: 0 100% 50%;
    --color-destructive-foreground: 210 40% 98%;
    --color-ring: 215 20.2% 65.1%;
    --color-radius: 0.5rem;
}

@layer base {
    html, body {
        @apply h-full;
    }

    body {
        display:grid;
        grid-template-rows: [header-start] 3rem [header-end content-start] auto [content-end footer-start] 3rem [footer-end];
        --text-color: theme(colors.foreground);
        --bg-color: theme(colors.background);
        --hover-text-color: theme(colors.foreground / 80);
    }

    #header {
        grid-row: header;
    }

    #content {
        grid-row: content;
        @apply space-y-standard;
    }

    #footer {
        grid-row: footer;
    }

    button, .button {
        @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors;
        @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
        @apply disabled:pointer-events-none disabled:opacity-50;
        @apply h-10 px-4 py-2;
    }

    :is(button, .button):hover {
        background-color: var(--hover-bg-color);
        color: var(--hover-text-color);
    }


    a:not(.button),
    .link {
        @apply text-primary underline-offset-4 hover:underline;
    }
}

@layer components {
    button.sm,
    .button.sm {
        @apply h-9 rounded-md px-3 py-0;
    }

    button.lg,
    .button.lg {
        @apply h-11 rounded-md px-8 py-0;
    }

    button.icon,
    .button.icon {
        @apply h-10 w-10 p-0;
    }

    [type="text"], input:where(:not([type])), [type="email"],
    [type="url"], [type="password"], [type="number"], [type="date"],
    [type="datetime-local"], [type="month"], [type="search"], [type="tel"],
    [type="time"], [type="week"], [multiple], textarea, select {
        @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground;
        @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
        @apply disabled:cursor-not-allowed disabled:opacity-50;
    }

    input[type="file"] {
        @apply border-0 text-sm font-medium;
        background-color: transparent;
    }

    [type="checkbox"] {
        @apply w-5 h-5 mx-2;
        @apply rounded-md;
        @apply focus:ring-2 focus-visible:ring-2;
        @apply border;
        color: var(--text-color);
        border-color: var(--text-color);
        --tw-ring-color: var(--text-color);
    }

    [type="checkbox"]:checked:hover,
    [type="checkbox"]:checked:focus,
    [type="radio"]:checked:hover,
    [type="radio"]:checked:focus {
        border-color: var(--text-color);
        background-color: theme(colors.primary);
    }

    [type="checkbox"]:checked {
        border-color: var(--text-color);
        background-color: theme(colors.primary);
    }

    [type="checkbox"]:focus,
    [type="checkbox"]:focus-visible {
        border-color: theme(colors.primary);
        --tw-ring-color: var(--text-color);
    }

    [type="checkbox"]:hover {
        border-color: theme(colors.primary);
        --tw-ring-color: var(--hover-text-color);
    }

    textarea {
        display: flex;
        @apply text-base;
    }

    .card {
        @apply rounded-lg border bg-card text-card-foreground shadow-sm;
    }

    .card > .header {
        @apply flex flex-col space-y-1.5 p-6;
    }

    .card > .title {
        @apply text-sm text-muted-foreground;
    }

    .card > .content {
        @apply p-6 pt-0;
    }

    .primary {
        @apply bg-primary text-primary-foreground;
        --bg-color: theme(colors.primary);
        --text-color: theme(colors.primary-foreground);
        --hover-bg-color: theme(colors.primary / 0.9);
        --hover-text-color: theme(colors.primary-foreground);
    }

    .secondary {
        @apply bg-secondary text-secondary-foreground;
        --bg-color: theme(colors.secondary);
        --text-color: theme(colors.secondary-foreground);
        --hover-bg-color: theme(colors.secondary / 0.8);
        --hover-text-color: theme(colors.secondary-foreground);
    }

    .outline {
        @apply border border-input bg-background;
        --bg-color: theme(colors.background);
        --hover-bg-color: theme(colors.accent);
        --hover-text-color: theme(colors.accent-foreground);
    }

    .destructive {
        @apply bg-destructive text-destructive-foreground;
        --bg-color: theme(colors.destructive);
        --text-color: theme(colors.destructive-foreground);
        --hover-bg-color: theme(colors.destructive / 0.9);
        --hover-text-color: theme(colors.destructive-foreground);
    }

    .ghost {
        --hover-bg-color: theme(colors.accent);
        --hover-text-color: theme(colors.accent-foreground);
    }
}
