{{ block "auth-page" . }}
<!DOCTYPE html>
<html lang="en">

{{ template "auth-head" . }}

<body hx-boost="true">
    {{ template "header" . }}
    <main class="p-standard flex flex-col gap-standard" hx-target="this">
        {{ template "auth-username" . }}
    </main>
    {{ template "footer" . }}
</body>

</html>
{{ end }}

{{ block "auth-password-page" . }}
<!DOCTYPE html>
<html lang="en">

{{ template "auth-head" . }}

<body hx-boost="true">
    {{ template "header" . }}
    <main class="p-standard flex flex-col gap-standard" hx-target="this">
        {{ template "auth-password" . }}
    </main>
    {{ template "footer" . }}
</body>

</html>
{{ end }}

{{ block "auth-user-page" . }}
<!DOCTYPE html>
<html lang="en">

{{ template "auth-head" . }}

<body hx-boost="true">
    {{ template "header" . }}
    <main class="p-standard flex flex-col gap-standard" hx-target="this">
        {{ template "auth-user" . }}
    </main>
    {{ template "footer" . }}
</body>

</html>
{{ end }}

{{ block "auth-username" . }}
<h1 class="text-xl font-semibold">
    {{ if .Mode | eq "signup" }}
    What should we call you?
    {{ else }}
    Enter your username.
    {{ end }}
</h1>
<form class="flex flex-col gap-standard" action="/auth/{{ .Mode }}/submit/">
    <p class="flex gap-standard items-end">
        <label class="w-full" hx-target="next span">Username<input name="username" type="text"
                value="{{ .User.Username }}" {{ if.Mode | eq "signup" }}hx-get="/auth/signup/username/"
                hx-trigger="change, keyup delay:200ms changed" hx-sync="closest form:abort" {{ else }}{{ end}}autofocus
                required /></label>
        <button class="button icon ghost" type="submit">{{ template "svg-arrow-right" }}</button>
        <input hidden name="from" value="{{ .From }}" />
    </p>
    <span class="text-sm font-medium text-destructive">{{ .Errors.username }}</span>
</form>
{{ if .Mode | eq "signup" }}
<p>Already got an account? <a href="/auth/login/?from={{ .From }}" hx-include='[name="username"]'>Login
        instead.</a></p>
{{ else }}
<p>No account? <a href="/auth/signup/?from={{ .From }}" hx-include='[name="username"]'>Signup
        instead.</a></p>
{{ end }}
{{ end }}

{{ block "auth-password" . }}
<h1 class="text-xl font-semibold">
    {{ if .Mode | eq "signup" }}
    Enter a password!
    {{ else }}
    Enter your password.
    {{ end }}
</h1>
<form class="flex flex-col gap-standard" action="/auth/{{ .Mode }}/submit/" method="POST" enctype="multipart/form-data"
    hx-replace-url="true">
    <p hidden>
        <label>Username<input name="username" type="text" value="{{ .User.Username }}" /></label>
    </p>
    <p class="flex gap-standard items-end">
        <label class="w-full">Password<input name="password" type="password" value="{{ .User.Password }}" autofocus />
        </label>
        <button class="button icon ghost" type="submit">{{ template "svg-arrow-right" }}</button>
    </p>
    <span class="text-sm font-medium text-destructive">{{ .Errors.password }}</span>
    <input hidden name="from" value="{{ .From }}" />
</form>
{{ if .Mode | eq "signup" }}
<p>Already got an account? <a href="/auth/login/submit/?from={{ .From }}" hx-include='[name="username"]'>Login
        instead.</a></p>
{{ else }}
<p>No account? <a href="/auth/signup/submit/?from={{ .From }}" hx-include='[name="username"]'>Signup
        instead.</a></p>
{{ end }}
{{ end }}

{{ block "auth-user" . }}
<h1 class="text-xl font-semibold">
    Hey, {{ .User.Username }}
</h1>
<a class="button primary" href="/auth/logout/">Logout</a>
{{ end }}

{{ block "auth-head" . }}

<head>
    <title>{{ if .Mode | eq "signup" }}Signup{{ else }}Login{{ end }}</title>
    {{ template "meta" . }}
    {{ template "imports" . }}
</head>
{{ end }}
