<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dist/main.css" rel="stylesheet">
    <script type="module" src="/htmx/htmx.js"></script>
    <script type="module" src="/dist/bundle.js"></script>
</head>

<body class="bg-background text-foreground" hx-boost="true">
    {{ template "header" . }}
    <main id="content" class="p-standard flex flex-col">
        <div class="flex-1"></div>
        <form class="flex">
            <textarea></textarea>
            <button type="submit" class="button icon ghost">{{ template "svg-arrow-right" }}</button>
        </form>
    </main>
    {{ template "footer" . }}
</body>

</html>
