{{ block "chat-page" . }}
<!DOCTYPE html>
<html lang="en">

{{ template "chat-head" . }}

<body hx-boost="true">
    {{ template "header" . }}
    <main class="p-standard flex flex-col gap-standard">
        <div class="flex-1"></div>
        {{ template "chat-input" . }}
    </main>
    {{ template "footer" . }}
</body>

</html>
{{ end }}

{{ block "chat-input" . }}
<form class="flex gap-standard">
    <textarea></textarea>
    <button type="submit" class="button icon ghost">{{ template "svg-arrow-right" }}</button>
</form>
{{ end }}

{{ block "chat-head" . }}

<head>
    <title>Chat</title>
    {{ template "meta" . }}
    {{ template "imports" . }}
</head>
{{ end }}
