{{ block "header" . }}
<header id="header" class="border-primary border-b flex items-center">
    <nav>
        <ul class="flex gap-x-1">
            <li><a class="button link" href="/">Home</a></li>
            <li><a class="button link" href="/chat">Chat</a></li>
        </ul>
    </nav>
</header>
{{ end }}

{{ block "footer" . }}
<footer id="footer" class="border-primary border-t p-standard">
    Sandbox App, it's probably bad.
</footer>
{{ end }}

{{ block "imports" . }}
<link href="/dist/main.css" rel="stylesheet">
<script type="module" src="/src/htmx.js"></script>
<script type="module" src="/src/index.js"></script>
{{ end }}

{{ block "meta" . }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ end }}
